<nav class="woocommerce-breadcrumb">
    <a href="home.html">Home</a>
    <span class="delimiter"><i class="fa fa-angle-right"></i>
    </span>
    <a href="product-category.html"><%=result.category.parent %></a>
    <span class="delimiter"><i class="fa fa-angle-right"></i>
    </span>
    <a href="product-category.html"><%=result.category.child %></a>
    <span class="delimiter"><i class="fa fa-angle-right"></i>
    </span><%=result.title.product_title %>
</nav>
