<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>WebMuthu</title>

        <link rel="stylesheet" type="text/css" href="http://static.webmuthu.com/css/bootstrap.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="http://static.webmuthu.com/css/font-awesome.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="http://static.webmuthu.com/css/animate.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="http://static.webmuthu.com/css/font-electro.css" media="all" />
        <link rel="stylesheet" type="text/css" href="http://static.webmuthu.com/css/owl-carousel.css" media="all" />
        <link rel="stylesheet" type="text/css" href="http://static.webmuthu.com/css/style.css" media="all" />
        <link rel="stylesheet" type="text/css" href="http://static.webmuthu.com/css/colors/blue.css" media="all" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,700italic,800,800italic,600italic,400italic,300italic' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon" href="http://static.webmuthu.com/images/fav-icon.png">
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T9FXZPX');</script>
<!-- End Google Tag Manager -->

    </head>

    <body class="single-product full-width extended">
      <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9FXZPX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
        <div id="page" class="hfeed site">
            <a class="skip-link screen-reader-text" href="#site-navigation">Skip to navigation</a>
            <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

          <!--  <div class="top-bar">
                <div class="container">
                    <nav>
                        <ul id="menu-top-bar-left" class="nav nav-inline pull-left animate-dropdown flip">
                            <li class="menu-item animate-dropdown"><a title="Welcome to Worldwide Electronics Store" href="#">Welcome to Worldwide Electronics Store</a></li>
                        </ul>
                    </nav>
                    <nav>
                        <ul id="menu-top-bar-right" class="nav nav-inline pull-right animate-dropdown flip">
                            <li class="menu-item animate-dropdown"><a title="Store Locator" href="#"><i class="ec ec-map-pointer"></i>Store Locator</a></li>
                            <li class="menu-item animate-dropdown"><a title="Track Your Order" href="track-your-order.html"><i class="ec ec-transport"></i>Track Your Order</a></li>
                            <li class="menu-item animate-dropdown"><a title="Shop" href="shop.html"><i class="ec ec-shopping-bag"></i>Shop</a></li>
                            <li class="menu-item animate-dropdown"><a title="My Account" href="my-account.html"><i class="ec ec-user"></i>My Account</a></li>
                        </ul>
                    </nav>
                </div>
            </div> -->
                      <% include header-navigation %>
                      <% include cart %>
                  <!--  <ul class="navbar-wishlist nav navbar-nav pull-right flip">
                        <li class="nav-item">
                            <a href="wishlist.html" class="nav-link"><i class="ec ec-favorites"></i></a>
                        </li>
                    </ul>
                    <ul class="navbar-compare nav navbar-nav pull-right flip">
                        <li class="nav-item">
                            <a href="compare.html" class="nav-link"><i class="ec ec-compare"></i></a>
                        </li>
                    </ul>  -->
                </div>
            </nav>

            <div id="content" class="site-content" tabindex="-1">
                <div class="container">
                    <% include breadcum %>
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <div class="product">
                                <div class="single-product-wrapper">
                                  <% include product-image %>
                                  <% include product-summary %>
                                <!--  <% include product-action %> -->
                                </div><!-- /.single-product-wrapper -->
                                <div class="electro-tabs electro-tabs-wrapper wc-tabs-wrapper">
                                    <% include tab-accessories %>
                                    <% include tab-description %>
                                    <% include tab-specification %>
                                    <% include tab-review %>
                                    <% include tab-video %>
                                </div><!-- /.electro-tabs -->
                                 <% include related-products %>
                            </div><!-- /.product -->
                        </main><!-- /.site-main -->
                    </div><!-- /.content-area -->
                </div><!-- /.container -->
            </div><!-- /.site-content -->

           <% include brands-carousel %>
           <% include footer %>
        </div><!-- #page -->

        <script type="text/javascript" src="http://static.webmuthu.com/js/jquery.min.js"></script>
        <script type="text/javascript" src="http://static.webmuthu.com/js/tether.min.js"></script>
        <script type="text/javascript" src="http://static.webmuthu.com/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://static.webmuthu.com/js/bootstrap-hover-dropdown.min.js"></script>
        <script type="text/javascript" src="http://static.webmuthu.com/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="http://static.webmuthu.com/js/echo.min.js"></script>
        <script type="text/javascript" src="http://static.webmuthu.com/js/wow.min.js"></script>
        <script type="text/javascript" src="http://static.webmuthu.com/js/jquery.easing.min.js"></script>
        <script type="text/javascript" src="http://static.webmuthu.com/js/jquery.waypoints.min.js"></script>
        <script type="text/javascript" src="http://static.webmuthu.com/js/electro.js"></script>

    </body>
</html>
